#container {
  max-width: 1000px;
  background-color: #FFFFFF;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

article {
  width: 300px;
  background-color: #FFFFFF;
  position: relative;
  min-height: 110px;
  margin: 10px;
  border: #CCCCCC solid 1px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

img {
  border-radius: 4px;
  height: 90px;
  width: 90px;
  padding-top: 10px;
  padding-left: 10px;
}

#description {
  padding-left: 10px;
  width: 100px;
}

h1 {
  font-size: 20px;
  padding-top: 10px;
  margin: 5px;
}

.stars_rating {
  height: 20px;
  display: flex;
  margin: 2px;
}

.star {
  color: white;
  padding: 2px;
}

.default {
  height: 20px;
  width: 21px;
  background-color: #DDDDDD;
  margin-right: 4px;
  border-radius: 4px;
}

.full {
  height: 20px;
  width: 21px;
  margin-right: 4px;
  border-radius: 4px;
  background-color: #f0610b;
}

.half {
  height: 20px;
  width: 21px;
  margin-right: 4px;
  border-radius: 4px;
  background-color: #ffa632;
}

#info {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  padding-top: 0;
  margin-top: 0;
}

.price {
  padding-left: 5px;
}

.details {
  color: red;
  margin: 4px;
}

h2 {
  font-size: 12px;
  font-weight: 400;
  color:#888888;
  margin: 2px;
}

#contact {
  padding-left: 5px;
  font-size: 12px;
}

ul {
  list-style-type: none;
  padding: 0;
}
