header {
  padding-top: 10px;
  background-color: #FF0000;
  height: 60px;
  width: 100%;
}

.container {
  background-color: #00FF00;
  height: 50px;
  max-width: 1000px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  position: relative;
}

.logo {
  background-color: #0000FF;
  height: 100%;
  width: 120px;
  float: left;
}

a {
  width: 100%;
}

.search {
  background-color: #550000;
  position: absolute;
  height: 40px;
  left: 140px;
  right: 220px;
  margin: 5px 0px;
  display: flex;
}

.user {
  background-color: #005500;
  height: 100%;
  width: 200px;
  float: right;
}

.find {
  background-color: #005555;
  height: 100%;
  width: 45%;
  display: flex;
}

.location {
  background-color: #009999;
  height: 100%;
  width: 45%;
  display: flex;
}

.action {
  background-color: #119911;
  height: 100%;
  width: 10%;
}

label {
  padding: 0 10px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
}

#search_find, #search_location {
  padding: 0 10px;
  border: 0;
  font-size: 14px;
  width: 100%;
}
