header {
  padding-top: 10px;
  background-color: #D32323;
  height: 60px;
  width: 100%;
}

.container {
  background-color: #FFFFFF;
  height: 50px;
  max-width: 1000px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.logo {
  background-color: #0000FF;
  height: 100%;
  width: 120px;
  float: left;
  background-image: url("../images/logo.jpg");
  background-size: 100%;
}

a {
  width: 100%;
}

.search {
  background-color: #FEFEFE;
  border: #CCCCCC solid 1px;
  border-radius: 4px;
  position: absolute;
  height: 40px;
  left: 140px;
  right: 220px;
  margin: 5px 0px;
  display: flex;
}

.user {
  height: 100%;
  width: 200px;
  float: right;
}

.find {
  height: 100%;
  width: 45%;
  display: flex;
}

.location {
  height: 100%;
  width: 45%;
  display: flex;
}

.action {
  height: 100%;
  width: 10%;
}

label {
  padding: 0 10px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-left: #CCCCCC solid 1px;
}

#search_find, #search_location {
  padding: 0 10px;
  border: 0;
  font-size: 14px;
  width: 100%;
}

#search_submit {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #D32323;
  border: none;
  border-radius: 4px;
}
